body {
    background-color: #0a0b1e;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.digit {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 0.125rem;
}

.clock {
    box-shadow:
        0 0 10px rgba(151, 69, 252, 0.4),
        0 0 25px rgba(69, 112, 252, 0.3);
    height: 3rem;
    width: 3rem;
    position: relative;
    background-color: oklch(20% 0 0);
    border: 0.25rem solid oklch(30% 0 0);
    border-radius: 50%;
}

.hand {
    height: 0.1875rem;

    background: linear-gradient(45deg,rgba(180, 58, 180, 1) 0%, rgba(255, 0, 0, 1) 11%, rgba(255, 165, 0, 1) 27%, rgba(255, 217, 0, 1) 41%, rgba(51, 253, 78, 1) 58%, rgba(69, 252, 234, 1) 72%, rgba(69, 112, 252, 1) 86%, rgba(151, 69, 252, 1) 100%);
    background-size: 10000% 100%;

    animation: rgb-wave 3s linear infinite;
    filter: brightness(1.2);
    border-radius: 1rem;
    box-shadow: 0 0 8px rgba(255,255,255,0.6);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    translate: 0% -50%;
    transform-origin: center left;
    transition: rotate 500ms ease-in-out;
}

@keyframes rgb-wave {
    0% {
        background-position: 0% 0%;
    }
    100%{
        background-position: 100% 100%;
    }
}


.hand:nth-child(1) {
    rotate: 180deg;
}

.hand:nth-child(2) {
    rotate: 90deg;
}

#tray {
    display: flex;
    gap: 1rem; 
}

.boxy {
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.4rem;
}

.sepa {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}